@import "semantic-ui";

.ui.massive.inverted.menu {
  border-radius: 0px;
}

.chatbox {
  height: 60vh;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display:none;
  }
}
